@import "tailwind-imports.css";

.btn-bg-success,
.btn-bg-primary,
.btn-bg-secondary,
.btn-bg-danger,
.btn-bg-dark,
.btn-hover {
  @apply prose-dark hover:prose-dark;
}

.btn-outline-success,
.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-danger,
.btn-outline-dark,
.btn-outline-light {
  @apply border-solid border-2 prose dark:prose-dark transition ease-in-out delay-100 hover:scale-110;
}

.btn-outline-success.btn-hover,
.btn-outline-primary.btn-hover,
.btn-outline-secondary.btn-hover,
.btn-outline-danger.btn-hover,
.btn-outline-dark.btn-hover,
.btn-outline-light.btn-hover {
  @apply prose hover:prose;
}

.btn-bg-success {
  @apply bg-green-500;
}

.btn-bg-success.btn-hover {
  @apply hover:bg-green-700;
}

.btn-bg-primary {
  @apply bg-emerald-500;
}

.btn-bg-primary.btn-hover {
  @apply hover:bg-emerald-700;
}

.btn-bg-secondary {
  @apply bg-gray-500;
}

.btn-bg-secondary.btn-hover {
  @apply hover:bg-gray-700;
}

.btn-bg-danger {
  @apply bg-red-500;
}

.btn-bg-danger.btn-hover {
  @apply hover:bg-red-700;
}

.btn-bg-dark {
  @apply bg-black;
}

.btn-bg-dark.btn-hover {
  @apply hover:bg-slate-800;
}

.btn-bg-light {
  @apply bg-gray-300 text-black;
}

.btn-bg-white {
  @apply bg-white text-black;
}

.btn-bg-light.btn-hover {
  @apply hover:bg-gray-500;
}

.btn-outline-success {
  @apply border-green-500;
}

.btn-outline-primary {
  @apply border-emerald-500;
}

.btn-outline-secondary {
  @apply border-gray-500;
}
.btn-outline-danger {
  @apply border-red-500;
}

.btn-outline-dark {
  @apply border-black;
}

.btn-outline-light {
  @apply border-gray-300;
}

.btn-outline-white {
  @apply border-white;
}
