@import "tailwind-imports.css";

.theme-toggle.react-toggle--focus .react-toggle-thumb,
.theme-toggle.react-toggle:active:not(.react-toggle--disabled)
  .react-toggle-thumb {
  box-shadow: none;
}

.theme-toggle.react-toggle--checked .react-toggle-track {
  background-color: theme("colors.blue.700");
}

.theme-toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: theme("colors.blue.600");
}

.theme-toggle.react-toggle:not(.react-toggle--checked) .react-toggle-track {
  background-color: theme("colors.gray.600");
}

.theme-toggle.react-toggle:hover:not(.react-toggle--checked)
  .react-toggle-track {
  background-color: theme("colors.gray.500");
}
