@import "tailwind-imports.css";
@import "button.css";

:root {
  --background-primary: theme("colors.white");
  --background-accent: theme("colors.gray.200");
  --background-secondary: theme("colors.gray.500");
}

.dark {
  --background-primary: theme("colors.gray.900");
  --background-accent: theme("colors.gray.700");
}

body {
  background-color: var(--background-primary);
}

.nav {
  background-color: var(--background-accent);
}

.nav .custom-border-color {
  border-color: var(--background-secondary);
}

.theme-toggle.react-toggle--focus .react-toggle-thumb,
.theme-toggle.react-toggle:active:not(.react-toggle--disabled)
  .react-toggle-thumb {
  box-shadow: none;
}

.theme-toggle.react-toggle--checked .react-toggle-track {
  background-color: theme("colors.blue.700");
}

.theme-toggle.react-toggle--checked:hover:not(.react-toggle--disabled)
  .react-toggle-track {
  background-color: theme("colors.blue.600");
}

.theme-toggle.react-toggle:not(.react-toggle--checked) .react-toggle-track {
  background-color: theme("colors.gray.600");
}

.theme-toggle.react-toggle:hover:not(.react-toggle--checked)
  .react-toggle-track {
  background-color: theme("colors.gray.500");
}

.accordion-button {
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  @apply bg-inherit text-slate-700 dark:text-slate-50;
}
